*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
    background-image: url(Download\ premium\ psd\ _\ image\ of\ Man\ casting\ his\ vote\ to\ a\ ballot\ box\ mockup\ by\ Felix\ about\ vote\,\ election\,\ voting\,\ ballot\ box\,\ and\ vote\ mockup\ 2027097.jpeg);
    background-size: cover;
    background-repeat:inherit;
    
}
:root{
--nav_color: #3B82F6;
--background: #FFFFFF;
--tables: #6B7280;
}
.navBar{
    display: flex;
    flex-direction: column;
    background-color: var(--nav_color);
    height: 6rem;
}
.navBar div >a, h1{
     color: white;
     padding: 1rem;
    text-decoration: none;
}
form{
background-color: var(--background);
display: flex;
flex-direction: column;
width: 20rem;
margin: 3rem;
border-radius: 1rem;
border: solid 1px var(--tables);
color: var(--tables);
padding: 0.5rem;
}
.input{
    background-color: var(--background);
    margin: 3rem;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--tables);
}
form > input, select{
    width: 90%;
    border-radius: 10px;
    background-color: var(--background);
    height: 2rem;
    padding-left: 0.5rem;
    margin: 0.5rem;
}

form > label{
    padding-left: 1rem;
}
.VoterButton > button:nth-child(1){
    margin: 1rem;
    height: 2rem;
    width: 4rem;
    color: var(--background);
    background-color: var(--nav_color);
    border: 1px;
    border-radius: 10px;
}
#cancel{
       margin: 1rem;
    height: 2rem;
    width: 4rem;
    color: var(--background);
    background-color: var(--tables);
    border: 1px;
    border-radius: 10px;
}
.headerv{
    text-align: center;
    padding: 1rem;
}
table{
    color: var(--tables);
    margin-left: 1rem;
    padding: 1rem;
    border: solid 1px;
    font-size: smaller;
}
th{
font-weight: 900;
}
h4{
  font-weight: bold;  
  color: var(--tables);
  padding-left:10rem ;
  padding-top: 1rem;
}